{% extends "layout.html" %}
{% load static %} <!-- Load the static tag -->
{% block title %} AllBlogs {% endblock %}
{% block content %}
<div class="flex justify-end">
  <a href="{% url 'blog_create' %}">
    <button
      type="button"
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Create Blog
    </button>
  </a>
</div>
<div
  class="grid grid-cols-1 gap-6 mt-6 mx-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3"
>
  {% for blog in blogs %}
  <div
    class="max-w-sm flex flex-col justify-between bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    {% if blog.image %}
      <img
        src="{{ blog.image.url }}"
        alt="{{ blog.title }}"
        class="w-full h-auto max-h-60 sm:max-h-96 dark:bg-gray-500 object-cover"
      />
    {% else %}
      <img
  src="{% static 'noimage.png' %}"
  alt="No Image Available"
  style="max-width:100%; height: auto; max-height: 240px; object-fit: cover;"
  class="dark:bg-gray-500"
/>
    {% endif %}
    <div class="p-5">
      <a href="{% url 'blog_detail' blog.id %}">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ blog.title }}
      </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ blog.summary }}
      </p>
    </div>
    <div class="flex justify-between items-center p-5 mt-auto">
      <a
        href="{% url 'blog_detail' blog.id %}"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Read more
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
      {% if blog.user == user %}
      <a
        href="{% url 'blog_update' blog.id %}"
        class="inline-flex items-center px-7 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Edit
      </a>
      <a
        href="{% url 'blog_delete' blog.id %}"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800"
      >
        Delete
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
